body{
	background-color: #111111;

}
.wish{
	text-align: center;
	/*margin-top: 70px;*/
	color: #ffffff;
	/*z-index: 1000;*/
}
.wisher{
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 10px;
	color: #EF5350;
}
.hd{
	font-size: 100px;
	color: #FFA000;
}

.message{
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #4DB6AC;
}

/*.bgimg{
	padding: 0;
	margin: 0;
}*/
/*body{
	width: 100%;
	height: 400px;
	background: url(crackers.mp4);
	background-size: 100% 700px;
    background-repeat: no-repeat;
}*/
* {
  margin: 0;
  padding: 0;
}
/*.wish{
	text-align: center;
	margin-top: 70px;
	color: #ffffff;
	z-index: 100;
}*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1800px;
    opacity: 0.3;
}

/*#cyw{
	z-index: 100;
	text-align: center;
	margin-top: 200px;
	font-size: 30px;
	color: #000000;
	background-color: #ffffff;
	padding: 5px;
}*/
.cform{
	font-size: 30px;
	background-color: #F8BBD0;
	padding: 20px;
	opacity: 0.9;
	/*border-radius: 7px;*/
}

.fform{
	z-index: 1000;
	/*margin-top: 45%;*/
	position: absolute;
	left: 275px;
	color: #000000;
	border-color: #f39c12;
	display: none;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 4px;
	/*opacity: 0.7;*/
}
input{
	font-size: 30px;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea{
	width: 380px;
	font-size:25px;
	margin-top: 20px;
	padding-left: 3px; 
}
.copylink{
	margin-top: 20px;
	background-color: #F06292;
	padding: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	opacity: 0.9;
	margin-bottom: 10px;
}
#examples{
	font-size: 14px;
}
/*#tea{
	width: 380px;
}*/
.diyaimg{
	 width: 250px;
    height: 200px;
    position: relative;
    margin-top: 100px;
    bottom: -0px;
    margin-bottom: 0px;
}
/*.diya{
    position: absolute;
    text-align: center;
    left: 130px;
    top: 700px;
    background-color: #000000;
    background-blend-mode: multiply;
}*/

canvas {
	cursor: crosshair;
	display: inline-block;
	height: 150px;
	width: 100%;
	z-index: -10;
}
#sba{
	position: absolute;
	margin-top: 3px;
	height: 60px;
	width: 120px;
	margin: 3px;
	right: 0px;
	top: 0px;
}

#btn{
	/*color: #ffffff;*/
	width: 100%;
	/*background-color: #000BBB;*/
	margin-top: 10px;
	padding-left: 2px;
	padding-right: 6px;
	border-radius: 6px;
}
#btni{
	/*color: #ffffff;*/
	width: 300px;
	/*background-color: #000BBB;*/
	margin-top: 10px;
	margin-bottom: 60px;
	padding-left: 2px;
	padding-right: 6px;
	border-radius: 6px;
}
#btn2{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 100px;
	width: 100%;
/*	position: absolute;
	text-align: center;
	left: 50px;
*/}


a{
	font-size: 30px;
	color: #ffffff;
	background-color: #d35400;
	text-decoration: none;
}
#btn,#btni,#btn2 {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:8px 76px;
	text-decoration:none;
}
#btn:hover, #btni:hover,#btn2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#btn:active, #btni:active, #btn2:active {
	position:relative;
	top:1px;
}
